@{
    ViewBag.Title = "About Challenger Realm";
}

<div class="jumbotron">
    <h1>About Challenger Realm</h1>
</div>

<style>
    p.Desc {
        padding-left: 10px;
        padding-right: 10px;
        background-color: #EEEEEE;
        border-width: 0px;
        border-radius: 20px;
        text-align: justify;
    }
    .cstm_div{
        padding:20px;
    }
</style>


<br />
<br />
<div class="col-md-12 container">
    <div class="col-md-6 container cstm_div">
        <p class="Desc" style="padding:10px;">
            Challenger Realm est un projet de fin de session mit en place par des étudiants
            pationné du collège Lionel-Groulx. L'équipe de développeur est constituer de 3
            élèves : Francis Lemaire, Francis Thibodeault et David Rodier. Ce site est en
            place pour plusieurs raison, la première étant pour être une page publicitaire
            du projet lui même. Les usagers de Challenger Realm peuvent par contre utiliser
            ce site pour échanger des points accumulé dans le jeux pour des objets du jeux
            tel que des armes ou des armures.
        </p>
    </div>
    <div class="col-md-6 container cstm_div">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <img src="~/Images/Logo.png" style="height:170px;"/>
        </div>
    </div>
</div>
<div class="col-md-12 container">
    <div class="col-md-6 container cstm_div">
        <img src="~/Images/50.jpg" style="width:500px;" />
    </div>
    <div class="col-md-6 container cstm_div">
        <p class="Desc" style="padding: 10px;">
            Le jeu lui même est de style Rogue-Like RPG. Rogue-Like est un type de jeu qui
            signifie que quand le joueur meurt, sont personnage est supprimé à jamais. RPG
            est un autre type de jeu, celui-ci veux dire que le joueur incarne un role dans
            le jeu. Ce role varie d'un archer habile avec des lame courte jusqu'a un mage
            habile avec les arts arcanes. Quand le joueur lance le jeu, il a de base 3 classes :
            Archer, Warrior et Mage. Il se prommenera dans notre monde avec une de ces classes
            en montant son niveau avec celle-ci. Quand il atteint un niveau spécifique (tel que
            10) avec une classes (tel que warrior) il débloque de nouvelles classes (tel que
            barbarian) avec lesquels il peut continuer son histoire. Le but du jeu est de débloquer
            la classe de Mystic Paladin.
        </p>
    </div>
</div>
<div class="col-md-12 container">
    <div class=" col-md-6 container cstm_div">
        <p class="Desc" style="padding: 10px;">
            Dans la section Store du site, les joueurs ont la possibilitée d'échanger les Colleseum
            Tokens obtenues dans le jeu pour des équipements dans le jeu. Certaine classes peuvent
            aussi être débloqué par l'entremise de ces tokens.
        </p>
    </div>
    <div>
        <img src="~/Images/currency.jpg" style="width:500px;" />
    </div>
</div>
