@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Rodier<br />
</address>

<address>
    Francis Lemaire<br />
</address>

<address>
    Francis Thibodeau<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:david_rodier@hotmail.com">david_rodier@hotmail.com</a>
</address>